.glassmorphism {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.glassmorphism-light {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.hamburger {
  -webkit-tap-highlight-color: transparent;
}

.overflow-hidden {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}
